{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock styles %}

{% block content %}
 <!-- Page content-->
 <div class="container py-3">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-11 mx-auto">
            <div id="carouselExampleCaptions" class="carousel slide mb-4">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% for  crousel in crousels %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            
                            <div class="carousel-image">
                                <img src="{{ crousel.news_image.url }}" class="d-block w-100" alt="{% static 'assets/img/1.jpg' %}">
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="fw-bolder h2 text-white">{{ crousel.news_title }}</h3>
                                <p>{{crousel.created_at|date:"M d"}}</p>
                            </div>
                        </div>
                    {% endfor %}
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for news in newss %}
                <div class="col-lg-4">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        
                        <a href="{% url 'news:news-detail' id=news.id %}"><img class="card-img-top" src="{{news.news_image.url}}" height="230px" alt="{% static 'assets/img/1.jpg' %}" /></a>
                        <div class="card-body">
                            <a href="" class="nav-link text-primary "><h2 class="card-title fw-semibold my-1 h4">{{news.news_title|truncatechars:40}}</h2></a>
                            <div class="small text-muted">{{news.created_at}}</div>
                            <p class="card-text">{{news.news_description|truncatechars:150}}</p>
                            <a class="btn btn-primary" href="{% url 'news:news-detail' id=news.id %}">Read more →</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            {% include 'includes/pagination.html' with queryset=newss custom_range=custom_range %}

        </div>

    </div>
</div>
{% endblock content %}