 {% load static %}
 <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">

        <a href=""><img src="{% static 'assets/img/pln03.png' %}" alt=""></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul> 
          <li>
            <a class="nav-link scrollto {% if request.path == '/' %} active  {% else %} {% endif %}"  href=" {% url 'companyprofile:index' %}#home">Home</a>
          </li>
          <li>
            <a class="nav-link scrollto" href=" {% url 'companyprofile:index' %}#about">About</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="{% url 'companyprofile:index' %}#services">Services</a>
          </li>
          <li>
            <a class="nav-link scrollto " href="{% url 'companyprofile:index' %}#gallery">Galery</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="{% url 'companyprofile:index' %}#contact">Contact</a>
          </li>
          <li>
              <a class="nav-link scrollto {% if request.path == '/news/' or request.path|slice:'0:13' == '/news/detail/' %} active {% endif %}" href="{% url 'news:news' %}">News</a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>