{% load static %}
<!-- Favicons -->
<link href="{% static 'img/Logo_PLN.png' %}" rel="icon" />
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
  rel="stylesheet"
/>

<!-- Bootstrap CSS File -->
<link
  href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}"
  rel="stylesheet"
/>

<!-- Libraries CSS Files -->
<link
  href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}"
  rel="stylesheet"
/>
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
<link
  href="{% static 'lib/ionicons/css/ionicons.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'lib/magnific-popup/magnific-popup.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'lib/ionicons/css/ionicons.min.css' %}"
  rel="stylesheet"
/>

<!-- Main Stylesheet File -->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
