<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PLN NUSANTARA POWER</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'includes/styles.html' %}
</head>

<body>
    {% include 'includes/topbar.html' %}
    {% include 'includes/navbar.html' %}
    {% block content %}{% endblock content %}
    {% include 'includes/footer.html' %}
    {% include 'includes/scripts.html' %}
</body>
</html>